$sans: "Droid Sans", "DejaVu Sans", Arial, Helvetica, sans-serif;
$serif: "Droid Serif", "DejaVu Serif", Georgia, serif;
$mono: "Droid Sans Mono", "DejaVu Sans Mono", Inconsolata, Monaco, "Courier New", monospace;

$sFontBase: 16;

$cBackground: #F7F7F7;
$cBackBright: #FFFFFF;
$cBackDim: #EEEEEE;
$cBackDark: #AAAAAA;

$cLink: #880000;
$cVisited: #660000;
$cHighlight: #FF0000;
$cLinkBright: #FF4444;

$cText: #000000;
$cTextBold: #2A2A2A;
$cTextBright: #7f7f7f;
$cTextLight: #666666;
$cTextYes: #009900;
$cTextNo: #990000;
$cTextMaybe: #999999;

$cBorder: #DDDDDD;
$cBorderLight: #EEEEEE;
$cBorderMedium: #BBBBBB;
$cBorderDarker: #666666;
$cBorderDark: #333333;

$cBrightMark: #aaccff;

// base animation time
$tAnimationBase: 1s;
