/codepoints.net/cache/blog-preview.*
/codepoints.net/cache/_cache_*
/codepoints.net/cache/__Mustache_*.php
/codepoints.net/lib/composer.lock
/codepoints.net/static/js/build.txt
/codepoints.net/static/js/main.js
/codepoints.net/static/js/polyfills/
/ucd.sqlite
/.sass-cache
/src/vendor
/tools/charlist.dtd
/tools/latex.xml
/codepoints.net/src
/node_modules/
