/codepoints.net/cache/blog-preview.*
/codepoints.net/cache/_cache_*
/codepoints.net/cache/__Mustache_*.php
/codepoints.net/lib/vendor
/.sass-cache
/tools/charlist.dtd
/tools/latex.xml
/node_modules/
/coverage-report/
*.pyc
/test/casperjs/screenshots/
/tools/encoding
/tools/encoding-aliases.sql
/db.conf
/jspm_packages
