
<Files opensearch.xml>
  ForceType application/opensearchdescription+xml
</Files>

<Files ~ "^(ucd\.sqlite|config\.rb)$">
  Deny From All
</Files>

RewriteEngine On

RewriteBase /

RewriteRule ^index.php - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !/static/.*
RewriteRule .* index.php [L]

RewriteRule ^favicon.ico static/images/favicon.ico [L]

