
<Files opensearch.xml>
  ForceType application/opensearchdescription+xml
</Files>

RewriteEngine On

RewriteRule ^index.php - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !/static/.*
RewriteRule .* index.php [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} /static/.*
#RewriteRule .* static/images/logo.png [L]
