
AddDefaultCharset utf-8

<Files opensearch.xml>
  ForceType application/opensearchdescription+xml
</Files>

<Files ~ "^(ucd\.sqlite|config\.rb|Makefile)$">
  Deny From All
</Files>

ErrorDocument 404 /index.php

RewriteEngine On

RewriteBase /

# remove www. from URLs
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule (.*) http://%1/$1 [R=301,L]

# handle canonical favicon location
RewriteRule ^favicon\.ico$ static/images/favicon.ico [R,L]

# don't redirect index.php
RewriteRule ^index.php - [L]

# things that might go wrong with the "+" in the URL
RewriteRule ^U(\ |%20|%2B)?([A-Fa-f0-9]+)$     /U+$2 [R,L]

# lowercased u+1234
RewriteRule ^u(\+|\ |%20|%2B)?([A-Fa-f0-9]+)$   /U+$2 [R,L]

# U+1234. (<- that's a dot at the end. Happens in Github bug trackers.)
RewriteRule ^U\+([A-Fa-f0-9]+)\.$   /U+$1 [R,L]

# +U1234 (<- typo in unicodehearts.com)
# +1234 (<- missing the "U")
RewriteRule ^(\+|%2B|%20)[uU]?([A-Fa-f0-9]+)$   /U+$2 [R,L]

# everything that doesn't match a real file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !/static/.*
RewriteCond %{REQUEST_FILENAME} !/src/.*
RewriteRule .* index.php [L]

# let assets be cache-busted with an "!"
RewriteRule ^((src|static)/.+)![a-z0-9]+      $1 [L]

