@font-face {
  font-family: 'Aegean';
  src: url('Aegean.eot');
  src: url('Aegean.eot?#iefix') format('eot'),
       url('Aegean.woff') format('woff'),
       url('Aegean.ttf') format('truetype'),
       url('Aegean.svg#Aegean') format('svg');
  font-weight: normal;
  font-style: normal;
}
