@font-face {
  font-family: 'Symbola';
  src: url('Symbola.eot');
  src: url('Symbola.eot?#iefix') format('eot'),
       url('Symbola.woff') format('woff'),
       url('Symbola.ttf') format('truetype'),
       url('Symbola.svg#Symbola') format('svg');
  font-weight: normal;
  font-style: normal;
}
