@-moz-keyframes zoomin {
  0% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  99.99% {
    -moz-transform: scale(50);
    -webkit-transform: scale(50);
    -o-transform: scale(50);
    -ms-transform: scale(50);
    transform: scale(50);
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes zoomout {
  0% {
    opacity: 0;
  }

  0.01% {
    opacity: 1;
    -moz-transform: scale(50);
    -webkit-transform: scale(50);
    -o-transform: scale(50);
    -ms-transform: scale(50);
    transform: scale(50);
  }

  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes minimize {
  0% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  99.99% {
    -moz-transform: scale(0.02);
    -webkit-transform: scale(0.02);
    -o-transform: scale(0.02);
    -ms-transform: scale(0.02);
    transform: scale(0.02);
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes maximize {
  0% {
    opacity: 0;
  }

  0.01% {
    opacity: 1;
    -moz-transform: scale(0.02);
    -webkit-transform: scale(0.02);
    -o-transform: scale(0.02);
    -ms-transform: scale(0.02);
    transform: scale(0.02);
  }

  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-moz-keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes leave-to-left {
  99.99% {
    margin-left: -100%;
    padding-right: 100%;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes leave-to-right {
  99.99% {
    margin-left: 100%;
  }

  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: "LastResort";
  src: url(../LastResort.ttf);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.pagination {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 1182px;
}

@media (max-width: 1220px) {
  .pagination {
    width: 590px;
  }
}
@media (max-width: 620px) {
  .pagination {
    width: 294px;
  }
}
.pagination li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0 1px 0 0;
  padding: 0;
}
.pagination li {
  *display: inline;
}

.pagination .ellipsis {
  min-width: 32px;
}

.pagination span,
.pagination a {
  display: block;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px #def;
}

.pagination a {
  background: #9cf;
  color: #05a;
  outline: none;
  -moz-transition-property: background, color;
  -webkit-transition-property: background, color;
  -o-transition-property: background, color;
  transition-property: background, color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.pagination a:hover, .pagination a:focus {
  background: #05a;
  color: #9cf;
}

.pagination .prev a,
.pagination .next a,
.pagination .prev span,
.pagination .next span {
  text-indent: -9999px;
}

.pagination .prev a:after,
.pagination .next a:after,
.pagination .prev span:after,
.pagination .next span:after {
  border-color: transparent;
  border-style: solid;
  border-width: 12px;
  width: 0;
  height: 0;
  display: block;
  margin-top: -28px;
  content: " ";
}

.pagination .prev {
  float: left;
}
.pagination .prev a:after {
  border-color: transparent white transparent transparent;
  margin-left: -4px;
}

.pagination .next {
  float: right;
}
.pagination .next a:after {
  border-color: transparent transparent transparent white;
  margin-left: 12px;
  margin-right: -12px;
}

.tooltip {
  font-size: 0.688em;
  padding: 2px 8px;
  position: absolute;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  border: 1px solid white;
  border-color: rgba(255, 255, 255, 0.8);
  color: white;
  text-shadow: 1px 1px 0 #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.tooltip:before {
  position: absolute;
  left: 50%;
  top: -1px;
  width: 1px;
  height: 1px;
  margin: -8px 0 0 -8px;
  border: 1px solid transparent;
  border-width: 0 8px 8px;
  border-bottom-color: black;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  content: " ";
  text-shadow: none;
}

body {
  margin: 0;
  font: 1em/1.5 Arial, sans-serif;
}

.stage {
  padding: 10px;
  position: relative;
}

.cp {
  background: white;
  background: -moz-linear-gradient(top, white, #e3e3e3);
  border: 1px solid #666;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 32px;
  padding: 4px 0 0;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #333;
  text-decoration: none;
  -moz-transition-property: box-shadow, border-color;
  -webkit-transition-property: box-shadow, border-color;
  -o-transition-property: box-shadow, border-color;
  transition-property: box-shadow, border-color;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  outline: none;
}
.cp {
  *display: inline;
}

.cp img {
  display: block;
  margin: 4px auto 8px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.cp:hover {
  box-shadow: 0 0 2px 1px #acf;
  border-color: #333;
}

.cp:hover img {
  image-rendering: optimizeSpeed;
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.block figure {
  margin: 0 10px 10px 0;
  float: left;
}

.block-data {
  margin: 0;
  padding: 0;
  line-height: 0;
  *zoom: 1;
  clear: left;
}
.block-data:after {
  content: "";
  display: table;
  clear: both;
}

.block-data li {
  list-style: none;
  float: left;
  margin: 0 3px 3px 0;
  padding: 0;
}

.block-data li.missing span {
  background: white;
  background: -moz-linear-gradient(top, white, #f3f3f3);
  border: 1px solid #bbb;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 32px;
  height: 43px;
  padding: 4px 0 0;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #666;
}
.block-data li.missing span {
  *display: inline;
}

.block-data li:nth-of-type(32n+1) {
  clear: left;
}

@media (max-width: 1220px) {
  .block-data li:nth-of-type(16n+1) {
    clear: left;
  }
}
@media (max-width: 630px) {
  .block-data li:nth-of-type(8n+1) {
    clear: left;
  }
}
nav li,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.codepoint nav .prev,
.codepoint nav .next {
  width: 34px;
}

nav .prev {
  float: left;
  margin-right: 10px;
}

nav .next {
  float: right;
  margin-top: -25px;
  margin-left: 10px;
}

nav .up {
  height: 15px;
  text-align: center;
  margin: 0 44px 10px;
}

nav .up a {
  color: #05a;
  text-decoration: none;
}

.slide {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -khtml-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -khtml-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slide.top {
  z-index: 100;
}

.slide.middle {
  z-index: 90;
}

.slide.zoomin {
  -moz-animation-name: zoomin;
  -webkit-animation-name: zoomin;
  -o-animation-name: zoomin;
  -ms-animation-name: zoomin;
  -khtml-animation-name: zoomin;
  animation-name: zoomin;
}

.slide .cp {
  image-rendering: optimizeSpeed;
}

.slide.zoomout .cp {
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -khtml-animation-duration: 3s;
  animation-duration: 3s;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-animation-name: show;
  -webkit-animation-name: show;
  -o-animation-name: show;
  -ms-animation-name: show;
  -khtml-animation-name: show;
  animation-name: show;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slide.zoomin .cp {
  visibility: hidden;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -khtml-animation-duration: 3s;
  animation-duration: 3s;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-animation-name: hide;
  -webkit-animation-name: hide;
  -o-animation-name: hide;
  -ms-animation-name: hide;
  -khtml-animation-name: hide;
  animation-name: hide;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -khtml-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slide.zoomout {
  -moz-animation-name: zoomout;
  -webkit-animation-name: zoomout;
  -o-animation-name: zoomout;
  -ms-animation-name: zoomout;
  -khtml-animation-name: zoomout;
  animation-name: zoomout;
}

.slide.minimize {
  -moz-animation-name: minimize;
  -webkit-animation-name: minimize;
  -o-animation-name: minimize;
  -ms-animation-name: minimize;
  -khtml-animation-name: minimize;
  animation-name: minimize;
}

.slide.maximize {
  -moz-animation-name: maximize;
  -webkit-animation-name: maximize;
  -o-animation-name: maximize;
  -ms-animation-name: maximize;
  -khtml-animation-name: maximize;
  animation-name: maximize;
}
