
@-moz-keyframes zoomin {
  0% {
    @include transform(scale(1));
  }
  99.99% {
    @include transform(scale(50));
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes zoomout {
  0% {
    opacity: 0;
  }
  0.01% {
    opacity: 1;
    @include transform(scale(50));
  }
  100% {
    @include transform(scale(1));
  }
}

@-moz-keyframes minimize {
  0% {
    @include transform(scale(1));
  }
  99.99% {
    @include transform(scale(.02));
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes maximize {
  0% {
    opacity: 0;
  }
  0.01% {
    opacity: 1;
    @include transform(scale(.02));
  }
  100% {
    @include transform(scale(1));
  }
}

@-moz-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes leave-to-left {
  0% {
  }
  99.99% {
    margin-left: -100%;
    padding-right: 100%;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes leave-to-right {
  0% {
  }
  99.99% {
    margin-left: 100%;
  }
  100% {
    opacity: 0;
  }
}

