.bl {
  text-shadow: none;
  background: white;
  background: -moz-linear-gradient(top, white, #e3e3e3);
  border: 1px solid #666;
  @include border-radius(1px);
  @include inline-block;
  font-size: (12em/16);
  color: #333;
  text-decoration: none;
  @include transition-property('box-shadow, border-color');
  @include transition-duration(.3s);
  outline: none;
  padding: 2px 4px;
  height: 16px;
  line-height: 16px;
  text-align: left;

  img {
    vertical-align: bottom;
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 2px 1px #acf;
    border-color: #333;
  }
}
