.cp {
  text-shadow: none;
  background: white;
  background: -moz-linear-gradient(top, white, #e3e3e3);
  border: 1px solid #666;
  @include border-radius(1px);
  @include inline-block;
  width: 32px;
  padding: 4px 0 0;
  font-size: 10px;
  font-family: Arial,sans-serif;
  line-height: 15px;
  text-align: center;
  color: #333;
  text-decoration: none;
  @include transition-property('box-shadow, border-color');
  @include transition-duration(.3s);
  outline: none;

  img {
    display: block;
    margin: 4px auto 8px;
    @include transition-property(all);
    @include transition-duration(.5s);
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 2px 1px #acf;
    border-color: #333;

    img {
      image-rendering: optimizeSpeed;
      @include transform(scale(2));
    }

  }

}

.min.cp {
  width: 48px;
  padding: 0 0 0 4px;
  line-height: 16px;
  text-align: left;
}

.min.cp img {
  float: right;
  margin: 0;
}
