.codepoint aside,
.codepoint figure {
  margin-left: -160px;
}

.codepoint aside.other {
  margin-left: 0;
  margin-right: -160px;
}

.block.data li:nth-of-type(16n+1) {
  clear: none;
}

.block.data li:nth-of-type(32n+1) {
  clear: left;
}

.pagination {
  max-width: 1182px;
}

.action {

  .desc {
    padding-right: 120px;
    background: url(../images/action_desc.png) no-repeat 90% center;
  }

}

.front {
  section {
    width: 570px;
    margin-right: 10px;
    float: left;
    padding: 9px;
    border: 1px solid $cBorder;
    border-radius: 3px;
  }
}
