.payload aside,
.payload figure {
  margin: 0 10px 10px 0;
  width: 130px;
  float: left;
  clear: left;
}

.block.data li:nth-of-type(16n+1) {
  clear: left;
}

.pagination {
  max-width: 590px;
}

.action {
  margin: 0 0 30px;

  @include pie-clearfix;

  .desc,
  .button {
    display: block;
    float: left;
    height: 120px;
  }

  .desc {
    width: 38.2%;
    padding-top: 30px;
  }

  .button {
    width: 61.8%;
    line-height: 120px;
  }

}
