nav {
  color: #ddd;
  border-bottom: 1px solid #111;
  background: #33302a;
  @include background(linear-gradient(top, #43402a, #33302a));
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,.2);
  padding: 3px;
  line-height: 18px;
  @include pie-clearfix;
}

nav li,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline;
}

nav a:link,
nav a:visited {
  font-size: .75em;
  font-family: $sans;
  @include inline-block;
  height: 24px;
  line-height: 24px;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 3px;
  box-shadow: 0 1px rgba(255,255,255,.1),
              inset 0 1px 0 rgba(255,255,255,.15),
              inset 1px 0 rgba(255,255,255,.05),
              inset -1px 0 rgba(255,255,255,.05);
  @include background(linear-gradient(top, rgba(0,0,0,0),
    rgba(0,0,0,.2)));
  padding: 0 5px;
  text-shadow: 0 -1px rgba(0,0,0,1);
  img {
    vertical-align: bottom;
  }
  color: #ddd;
  text-decoration: none;
  @include user-select(none);
}

nav a:hover,
nav a:focus {
  color: #fff;
  @include background(
  radial-gradient(center top, rgba(255,255,255,.15), rgba(255,255,255,0)),
  linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2)));
  outline: none;
}

nav a:active {
  @include background(
  linear-gradient(top, rgba(0,0,0,.3), rgba(0,0,0,0))
  );
}

nav a:after,
nav a:before {
  color: black;
  text-shadow: 0 1px rgba(255,255,255,.1);
  font-size: (1em/.75);
  line-height: 0;
}

nav .min.cp {
  width: auto;
  font-size: 1em;
  box-shadow: none;
  &:focus,
  &:hover {
    box-shadow: none;
  }
}

nav .bl,
nav .cp {
  border: none;
  background: none;
  color: #ddd;
  font-size: 1em;
  &:focus,
  &:hover {
    box-shadow: none;
  }
}

nav .start {
  float: left;
  a:before {
    content: url(../images/logo.png);
    vertical-align: middle;
    padding-right: .3em;
  }
}

nav .search {
  a:before {
    content: "\1F50D";
    padding-right: .3em;
  }
}

nav .about {
  a:before {
    content: "\2139";
    padding-right: .3em;
  }
}

nav .prev {
  a:before {
    content: "\25C0";
    padding-right: .3em;
  }
}

nav .next {
  a:after {
    content: "\25B6";
    padding-left: .3em;
  }
}

nav .up {
  a:before {
    content: "\25B2";
    padding-right: .3em;
  }
}

.nav-extra {
  float: right;
  li {
    margin-left: .3em;
  }
}



#footer_search {
  position: absolute;
  color: #ddd;
  background: #33302a;
  @include background(linear-gradient(top, #43402a, #33302a));
  padding: 10px;
  border: 1px solid #22201a;
  border-top-width: 0;
  @include border-bottom-radius(2px);
  max-width: 308px;
}

#footer_search label {
  display: none;
}

#footer_search p {
  margin: 5px 0 0;
  text-align: right;
}

#footer_search a {
  color: #ddd;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,.4);
  text-shadow: none;
  &:before {
    color: black;
    content: "» ";
  }
  &:focus,
  &:hover {
    color: white;
  }
}

#footer_search form p {
  display: inline;
  margin: 0;
}

#footer_search input {
  max-width: 308px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #222;
  border-radius: 3px;
  @include background(linear-gradient(top, rgba(0,0,0,.2),
  rgba(0,0,0,0)));
  background-color: white;
}

#footer_search button {
  @include inline-block;
  height: 26px;
  line-height: 24px;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 3px;
  box-shadow: 0 1px rgba(255,255,255,.1),
              inset 0 1px 0 rgba(255,255,255,.15),
              inset 1px 0 rgba(255,255,255,.05),
              inset -1px 0 rgba(255,255,255,.05);
  @include background(linear-gradient(top, rgba(0,0,0,0),
    rgba(0,0,0,.2)));
  padding: 0 5px;
  text-shadow: 0 -1px rgba(0,0,0,1);
  img {
    vertical-align: middle;
  }
  color: #ddd;
  text-decoration: none;
  @include user-select(none);

  &:hover,
  &:focus {
    color: #fff;
    @include background(
    radial-gradient(center top, rgba(255,255,255,.15), rgba(255,255,255,0)),
    linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2)));
    outline: none;
  }

  &:active {
    @include background(
    linear-gradient(top, rgba(0,0,0,.3), rgba(0,0,0,0))
    );
  }
}
