@mixin props {
  // property tables
  .props {
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0 auto;
    th,
    td {
      padding: 2px 8px;
      vertical-align: top;
      text-shadow: 1px 1px white;
      border: 1px solid $cBorder;
    }
    th:first-child,
    td:first-child {
      border-left-width: 0;
    }
    th:last-child,
    td:last-child {
      border-right-width: 0;
    }
    tbody tr:last-child td,
    tbody tr:last-child th {
      border-bottom-width: 0;
    }
    th {
      color: $cTextLight;
      font-weight: normal;
      font-style: italic;
    }
    thead th {
      text-align: left;
      background: none;
      text-shadow: none;
      border-top-width: 0;
      font-style: normal;
      font-variant: small-caps;
      letter-spacing: .15em;
      color: $cTextBright;
    }
    thead th:first-child {
      text-align: right;
    }
    tbody th {
      text-align: right;
    }
    td {
    }
    tr .y {
      color: $cTextYes;
    }
    tr .n {
      color: $cTextNo;
    }
    tr .x {
      color: $cTextMaybe;
    }
  }
}

@mixin cp-dl {
  .codepoint {
    dl {
      margin: 0;
      @include pie-clearfix;
    }

    dt {
      font-style: italic;
      float: left;
      clear: left;
      color: $cTextBright;
      margin: 0 .5em 0 0;
      min-width: 30%;
    }

    dd {
      margin: 0 0 .25em;
    }
  }
}

@mixin cp-fig {
  .fig {
    color: $cText;
    width: 128px;
    height: 128px;
    @include inline-block;
    line-height: 128px;
    text-align: center;
    font-size: 110px;
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.2),
                inset 8px 0 8px -8px rgba(0,0,0,.1),
                inset -8px 0 8px -8px rgba(0,0,0,.1);
    text-shadow: 0 2px 2px rgba(0,0,0,.4);
    border-radius: 2px;
    border: 1px solid $cBorder;
  }
}

@mixin cp-sections {
  .codepoint {
    max-width: 880px;
    & h1 {
      letter-spacing: .05em;
      word-spacing: .1em;
    }
    & section, & aside, & figure {
      margin: 0 0 2em;
    }

    .min.cp, .bl {
      font-size: (12em/$sFontBase);
      font-family: $sans;
      font-style: normal;
      line-height: 15px;
      padding: 2px;
      @include active-block($cLink);
    }
    .bl img {
      vertical-align: text-bottom;
    }
  }
}
