@import "compass";
@import "normalize";
@import "settings";
@import "ui";
@import "view.codepoint";

@include normalize;

@include selection($cVisited, #ddd);

body {
  font: 1em/1.5 $serif;
  color: $cText;
  background: $cBackground url(../images/body.png);
}

h1 {
  margin: 0 0 (20em/36);
  font-size: (36em/$sFontBase);
  line-height: (40em/36);
  text-shadow: 0 2px 1px white;
}

h2 {
  margin: 0 0 (10em/24);
  font-size: (24em/$sFontBase);
  line-height: (30em/24);
}

h3 {
  margin: (20em/21) 0;
  font-size: (21em/$sFontBase);
  line-height: (20em/21);
  font-weight: normal;
  font-style: italic;
}

h4 {
  margin: (10em/18) 0;
  font-size: (18em/$sFontBase);
  line-height: (20em/18);
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: .05em;
}

a:link {
  color: $cLink;
  text-decoration: none;
  @include transition-property("color, border-color");
  @include transition-duration(.5s);
}

a:visited {
  color: $cVisited;
}

a:focus,
a:hover {
  color: $cHighlight;
  text-shadow: 1px 1px white,
               -1px 1px white;
  border-bottom: 1px solid;
}

h1, h2, h3, b, strong {
  color: $cTextBold;
}

blockquote {
  font-style: italic;
  & i, & em, & var & blockquote {
    font-style: normal;
  }
  &.central {
    display: table;
    margin: 0 auto 14px;
    & p {
      margin: 0 0 1em;
    }
  }
}

ul li {
  list-style: none;
  &:before {
    display: block;
    content: "\2013";
    float: left;
    margin-left: -1.2em;
    width: 1.2em;
    color: $cTextLight;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  @include button-base;
}

.hidden {
  display: none;
}

.payload {
  padding: 30px 10px 10px;
  margin: 0 auto;
  max-width: 1200px;
  border-top: 1px solid white;
}

.front h1 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-size: 9em;
  line-height: 1em;
  letter-spacing: .05em;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  text-align: center;
}

@include props;
@include cp-dl;
@include cp-fig;
@include cp-sections;

.data {
  @include datalist;
}

nav {
  @include navlist;
}

.tooltip {
  @include tooltip;
}

.pagination {
  @include pagination;
}







#footer_search {
  position: absolute;
  color: $cTextBold;
  background: $cBackground;
  @include background(linear-gradient(top, $cBackground, $cBackBright));
  padding: 10px;
  border: 1px solid $cBorderMedium;
  border-top-width: 0;
  @include border-bottom-radius(2px);
  max-width: 308px;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

#footer_search label {
  display: none;
}

#footer_search p {
  margin: 5px 0 0;
  text-align: right;
}

#footer_search a {
  color: $cTextBold;
  border-bottom: 1px solid;
  border-bottom-color: transparentize($cTextBold, .6);
  text-shadow: none;
  &:before {
    color: black;
    content: "» ";
  }
  &:focus,
  &:hover {
    color: $cText;
    border-bottom-color: $cTextBold;
  }
}

#footer_search form p {
  display: inline;
  margin: 0;
}

#footer_search input {
  max-width: 308px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid $cBorderMedium;
  border-radius: 3px;
  @include background(linear-gradient(top, rgba(0,0,0,.1),
  rgba(0,0,0,0)));
  background-color: white;
}

#footer_search button {
  font-size: (12em/$sFontBase);
}





.front .searchform {
  text-align: center;
  margin: 0 0 30px;

  p {
    margin: 0;
  }

  input {
    vertical-align: middle;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid $cBorderMedium;
    border-radius: 3px;
    background-color: white;
    font-size: (21em/$sFontBase);
    width: 61.8%;
    padding: 4px 8px;
  }

  button {
    font-size: (21em/$sFontBase);
  }
}











@media (max-width: 640px) {
  @import "small-screen";
}

@media (min-width: 641px) {
  @import "medium-screen";
}

@media (min-width: 1230px) {
  @import "large-screen";
}
