@import "compass";
@import "normalize";
@import "settings";
@import "ui";
@import "view.codepoint";

@include normalize;

@include selection($cVisited, #ddd);

body {
  font: 1em/1.5 $serif;
  color: $cText;
  background: $cBackground url(../images/body.png);
}

h1 {
  margin: 0 0 (20em/36);
  font-size: (36em/$sFontBase);
  line-height: (40em/36);
  text-shadow: 0 2px 1px white;
}

h2 {
  margin: 0 0 (10em/24);
  font-size: (24em/$sFontBase);
  line-height: (30em/24);
}

h3 {
  margin: 0 0 (20em/21);
  font-size: (21em/$sFontBase);
  line-height: (20em/21);
}

a:link {
  color: $cLink;
  text-decoration: none;
  @include transition-property("color, border-color");
  @include transition-duration(.5s);
}

a:visited {
  color: $cVisited;
}

a:focus,
a:hover {
  color: $cHighlight;
  text-shadow: 1px 1px white,
               -1px 1px white;
  border-bottom: 1px solid;
}

h1, h2, h3, b, strong {
  color: $cTextBold;
}

.hidden {
  display: none;
}

.payload {
  padding: 30px 10px 10px;
  margin: 0 auto;
  max-width: 1200px;
  border-top: 1px solid white;
}

@include props;
@include cp-dl;
@include cp-fig;
@include cp-sections;

.data {
  @include datalist;
}

nav {
  @include navlist;
}

.tooltip {
  @include tooltip;
}








@media (min-width: 641px) {
  @import "medium-screen";
}

@media (min-width: 1141px) {
  @import "large-screen";
}
