
@import "compass";
@import "global";
@import "animation";

@include font-face(LastResort, url(../LastResort.ttf));

@include reset-html5;

body {
  margin: 0;
  font: 1em/1.5 "Droid Serif",Georgia,serif;
}

h1 {
  margin: 0 0 (20em/24);
  font-size: (24em/16);
  line-height: (20em/24);
}

h2 {
  margin: 0 0 1em;
  font-size: (20em/16);
  line-height: 1em;
}

h3 {
  margin: 0 0 1em;
  font-size: (18em/16);
  line-height: (20/18);
}

a:link {
  color: #800;
  text-decoration: none;
}

a:visited {
  color: #600;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #F00;
  text-decoration: none;
  text-shadow: 1px 1px white,
               -1px 1px white;
  border-bottom: 1px solid;
}

h1, h2, h3, b, strong {
  font-weight: bold;
  color: #2a2a2a;
}

@import "pagination";
@import "tooltip";
@import "codepoint";
@import "block";
@import "search";
@import "nav";

.stage {
  position: relative;
}

.payload {
  padding: 10px;
  margin: 30px auto 0;
}

.payload.codepoint {
  max-width: 800px;
}

.payload.codepoint h1 {
  letter-spacing: .05em;
  word-spacing: .1em;
}

.payload.codepoint section {
  margin: 0 0 2em;
}

.payload aside,
.payload figure {
  margin: 0 10px 10px 0;
  width: 130px;
  float: left;
  clear: left;
}

.payload.codepoint aside,
.payload.codepoint figure {
  margin-left: -160px;
  margin-bottom: 2em;
}

.payload aside {
  font-size: (12em/16);
}

.payload aside h3 {
  font-size: (18em/12);
}

figure .fig {
  width: 128px;
  height: 128px;
  @include inline-block;
  line-height: 128px;
  text-align: center;
  font-size: 110px;
  box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.2),
              inset 8px 0 8px -8px rgba(0,0,0,.1),
              inset -8px 0 8px -8px rgba(0,0,0,.1);
  text-shadow: 0 2px 2px rgba(0,0,0,.4);
  border-radius: 2px;
  border: 1px solid #ddd;
}

.data {
  margin: 0;
  padding: 0;
  line-height: 0;
  @include pie-clearfix;
  clear: left;
}

.data li {
  list-style: none;
  float: left;
  margin: 0 3px 3px 0;
  padding: 0;
}

.data .missing span {
  background: white;
  background: -moz-linear-gradient(top, white, #f3f3f3);
  border: 1px solid #bbb;
  @include border-radius(1px);
  @include inline-block;
  width: 32px;
  height: 43px;
  padding: 4px 0 0;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #666;
}

.block.data li:nth-of-type(32n+1) {
  clear: left;
}

@media (max-width: 1220px) {
  .block.data li:nth-of-type(16n+1) {
    clear: left;
  }
}

@media (max-width: 630px) {
  .block.data li:nth-of-type(8n+1) {
    clear: left;
  }
}





.hidden {
  display: none;
}





dl {
  margin: 0;
  @include pie-clearfix;
}

dt {
  font-style: italic;
  float: left;
  clear: left;
  color: #666;
  margin: 0 .5em 0 0;
}

dd {
  margin: 0 0 .5em;
}



.props {
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0 auto;
  th,
  td {
    padding: 2px 8px;
    vertical-align: top;
    text-shadow: 1px 1px white;
    border: 1px solid #ddd;
  }
  th:first-child,
  td:first-child {
    border-left-width: 0;
  }
  th:last-child,
  td:last-child {
    border-right-width: 0;
  }
  tbody tr:last-child td,
  tbody tr:last-child th {
    border-bottom-width: 0;
  }
  th {
    color: #666;
    font-weight: normal;
    font-style: italic;
  }
  thead th {
    text-align: left;
    background: none;
    text-shadow: none;
    border-top-width: 0;
  }
  tbody th {
    text-align: right;
  }
  td {
  }
  tr:nth-child(2n) th,
  tr:nth-child(2n) td {
    x-background: #e9e9e9;
  }
  tr .y {
    color: #090;
  }
  tr .n {
    color: #900;
  }
  tr .x {
    color: #999;
  }
}





.slide {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  @include experimental(animation-duration, 3s);
  @include experimental(animation-timing-function, ease-in);
  @include transform-origin(0, 0);
  @include experimental(animation-fill-mode, forwards);
}

.slide.top {
  z-index: 100;
}


.slide.middle {
  z-index: 90;
}

.slide.bottom {
}


.slide.zoomin {
  @include experimental(animation-name, zoomin);
}

.slide .cp {
  image-rendering: optimizeSpeed;
}

.slide.zoomout .cp {
  @include experimental(animation-duration, 3s);
  @include transform-origin(0, 0);
  @include experimental(animation-name, show);
  @include experimental(animation-fill-mode, forwards);
}

.slide.zoomin .cp {
  visibility:hidden;
  @include experimental(animation-duration, 3s);
  @include transform-origin(0, 0);
  @include experimental(animation-name, hide);
  @include experimental(animation-fill-mode, forwards);
}

.slide.zoomout {
  @include experimental(animation-name, zoomout);
}

.slide.minimize {
  @include experimental(animation-name, minimize);
}

.slide.maximize {
  @include experimental(animation-name, maximize);
}


