
@import "compass";
@import "animation";

@include font-face(LastResort, url(../LastResort.ttf));

@include reset-html5;

@import "pagination";
@import "tooltip";

body {
  margin: 0;
  font: 1em/1.5 Arial,sans-serif;
}

.stage {
  padding: 10px;
  position: relative;
}

.cp {
  background: white;
  background: -moz-linear-gradient(top, white, #e3e3e3);
  border: 1px solid #666;
  @include border-radius(1px);
  @include inline-block;
  width: 32px;
  padding: 4px 0 0;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #333;
  text-decoration: none;
  @include transition-property('box-shadow, border-color');
  @include transition-duration(.3s);
  outline: none;
}

.cp img {
  display: block;
  margin: 4px auto 8px;
  @include transition-property(all);
  @include transition-duration(.5s);
}

.cp:hover {
  box-shadow: 0 0 2px 1px #acf;
  border-color: #333;
}

.cp:hover img {
  image-rendering: optimizeSpeed;
  @include transform(scale(2));
}

.block-data {
  margin: 0;
  padding: 0;
  line-height: 0;
  @include pie-clearfix;
}

.block-data li {
  list-style: none;
  float: left;
  margin: 0 3px 3px 0;
  padding: 0;
}

.block-data li.missing span {
  background: white;
  background: -moz-linear-gradient(top, white, #f3f3f3);
  border: 1px solid #bbb;
  @include border-radius(1px);
  @include inline-block;
  width: 32px;
  height: 43px;
  padding: 4px 0 0;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #666;
}

.block-data li:nth-of-type(32n+1) {
  clear: left;
}

@media (max-width: 1220px) {
  .block-data li:nth-of-type(16n+1) {
    clear: left;
  }
}

@media (max-width: 620px) {
  .block-data li:nth-of-type(8n+1) {
    clear: left;
  }
}



nav li,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.codepoint nav .prev,
.codepoint nav .next {
  width: 34px;
}

nav .prev {
  float: left;
  margin-right: 10px;
}

nav .next {
  float: right;
  margin-top: -25px;
  margin-left: 10px;
}

nav .up {
  height: 15px;
  text-align: center;
  margin: 0 44px 10px;
}

nav .up a {
  color: #05a;
  text-decoration: none;
}






.slide {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  @include experimental(animation-duration, 3s);
  @include experimental(animation-timing-function, ease-in);
  @include transform-origin(0, 0);
  @include experimental(animation-fill-mode, forwards);
}

.slide.top {
  z-index: 100;
}


.slide.middle {
  z-index: 90;
}

.slide.bottom {
}


.slide.zoomin {
  @include experimental(animation-name, zoomin);
}

.slide .cp {
  image-rendering: optimizeSpeed;
}

.slide.zoomout .cp {
  @include experimental(animation-duration, 3s);
  @include transform-origin(0, 0);
  @include experimental(animation-name, show);
  @include experimental(animation-fill-mode, forwards);
}

.slide.zoomin .cp {
  visibility:hidden;
  @include experimental(animation-duration, 3s);
  @include transform-origin(0, 0);
  @include experimental(animation-name, hide);
  @include experimental(animation-fill-mode, forwards);
}

.slide.zoomout {
  @include experimental(animation-name, zoomout);
}

.slide.minimize {
  @include experimental(animation-name, minimize);
}

.slide.maximize {
  @include experimental(animation-name, maximize);
}


