
@import "compass";
@import "animation";

@include font-face(LastResort, url(../LastResort.ttf));

@include reset-html5;

body {
  margin: 0;
  font: 1em/1.5 Arial,sans-serif;
}

.stage {
  padding: 10px;
  position: relative;
}

.cp {
  background: white;
  border: 1px solid #333;
  @include border-radius(1px);
  @include inline-block;
  width: 32px;
  padding: 4px 0 0;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #333;
  text-decoration: none;
  @include transition-property(box-shadow);
  @include transition-duration(.3s);
  outline: none;
}

.cp img {
  display: block;
  margin: 4px auto 8px;
  @include transition-property(all);
  @include transition-duration(.5s);
}

.cp:hover {
  box-shadow: 0 0 2px 1px #acf;
}

.cp:hover img {
  image-rendering: optimizeSpeed;
  @include transform(scale(1.9));
}

.block-data {
  margin: 0;
  padding: 0;
  line-height: 0;
  @include pie-clearfix;
}

.block-data li {
  list-style: none;
  float: left;
  margin: 0 3px 3px 0;
  padding: 0;
}

.block-data li:nth-of-type(16n+1) {
  clear: left;
}


.pagination {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 590px;
}

.pagination li {
  @include inline-block;
  margin: 0 1px 0 0;
  padding: 0;
}

.pagination span,
.pagination a {
  display: block;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px #def;
}

.pagination a {
  background: #9cf;
  color: #05a;
  outline: none;
  @include transition-property("background, color");
  @include transition-duration(.3s);
  &:hover,
  &:focus {
    background: #05a;
    color: #9cf;
  }
}

.pagination .prev a,
.pagination .next a,
.pagination .prev span,
.pagination .next span {
  text-indent: -9999px;
}

.pagination .prev a:after,
.pagination .next a:after,
.pagination .prev span:after,
.pagination .next span:after {
  border-color: transparent;
  border-style: solid;
  border-width: 12px;
  width: 0;
  height: 0;
  display: block;
  margin-top: -28px;
  content: " ";
}

.pagination .prev {
  float: left;

  & a:after {
    border-color: transparent white transparent transparent;
    margin-left: -4px;
  }
}

.pagination .next {
  float: right;

  & a:after {
    border-color: transparent transparent transparent white;
    margin-left: 12px;
    margin-right: -12px;
  }
}


nav li,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.codepoint nav .prev,
.codepoint nav .next {
  width: 34px;
}

nav .prev {
  float: left;
  margin-right: 10px;
}

nav .next {
  float: right;
  margin-top: -25px;
  margin-left: 10px;
}

nav .up {
  height: 15px;
  text-align: center;
  margin: 0 44px 10px;
}

nav .up a {
  color: #05a;
  text-decoration: none;
}






.slide {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  @include experimental(animation-duration, 3s);
  @include experimental(animation-timing-function, ease-in);
  @include transform-origin(0, 0);
  @include experimental(animation-fill-mode, forwards);
}

.slide.top {
  z-index: 100;
}


.slide.middle {
  z-index: 90;
}

.slide.bottom {
}


.slide.zoomin {
  @include experimental(animation-name, zoomin);
}

.slide .cp {
  image-rendering: optimizeSpeed;
}

.slide.zoomout .cp {
  @include experimental(animation-duration, 3s);
  @include transform-origin(0, 0);
  @include experimental(animation-name, show);
  @include experimental(animation-fill-mode, forwards);
}

.slide.zoomin .cp {
  visibility:hidden;
  @include experimental(animation-duration, 3s);
  @include transform-origin(0, 0);
  @include experimental(animation-name, hide);
  @include experimental(animation-fill-mode, forwards);
}

.slide.zoomout {
  @include experimental(animation-name, zoomout);
}

.slide.minimize {
  @include experimental(animation-name, minimize);
}

.slide.maximize {
  @include experimental(animation-name, maximize);
}

@-moz-keyframes zoomin {
  0% {
    @include transform(scale(1));
  }
  99.99% {
    @include transform(scale(50));
    display: none;
  }
  100% {
    display: none;
  }
}

@-moz-keyframes zoomout {
  0% {
    display: none;
  }
  0.01% {
    @include transform(scale(50));
  }
  100% {
    @include transform(scale(1));
  }
}

@-moz-keyframes minimize {
  0% {
    @include transform(scale(1));
  }
  99.99% {
    @include transform(scale(.02));
  }
  100% {
    display: none;
  }
}

@-moz-keyframes maximize {
  0% {
    display: none;
  }
  0.01% {
    @include transform(scale(.02));
  }
  100% {
    @include transform(scale(1));
  }
}

@-moz-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
