
@import "compass";
@import "normalize";
@import "settings";
@import "ui";
@import "view.codepoint";
@import "fontawesome";

@include normalize;
@include fontawesome;

@include selection($cVisited, #ddd);

html {
  overflow-y: scroll;
}

body {
  font: 1em/1.5 $serif;
  color: $cText;
  background: $cBackground url(../images/body.png);
}

h1 {
  margin: 0 0 (20em/36);
  font-size: (36em/$sFontBase);
  line-height: (40em/36);
  text-shadow: 0 2px 1px white;
}

h2 {
  margin: 0 0 (10em/24);
  font-size: (24em/$sFontBase);
  line-height: (30em/24);
}

h3 {
  margin: (20em/21) 0;
  font-size: (21em/$sFontBase);
  line-height: (20em/21);
  font-weight: normal;
  font-style: italic;
}

h4 {
  margin: (10em/18) 0;
  font-size: (18em/$sFontBase);
  line-height: (20em/18);
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: .05em;
}

section {
  margin: 0 0 2em;
}

a:link {
  color: $cLink;
  text-decoration: none;
  @include transition-property("color, border-color");
  @include transition-duration(.5s);
}

a:visited {
  color: $cVisited;
  text-decoration: none;
}

a:focus,
a:hover {
  color: $cHighlight;
  text-shadow: 1px 1px white,
               -1px 1px white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

a[href^="http"]:after {
  //content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAO0lEQVQ4y2P4z8DAgIH//8eN0dQyjBpA2AAMKXJcABGC0uS4ANklJBmAYjOpLkDXTFYgYmgeTYm0MQAAMq3ATnxfaJ4AAAAASUVORK5CYII=);
}

h1, h2, h3, b, strong {
  color: $cTextBold;
}

aside {
  font-size: (12em/$sFontBase);
}

blockquote {
  font-style: italic;
  & i, & em, & var & blockquote {
    font-style: normal;
  }
  &.central {
    display: table;
    margin: 0 auto 14px;
    & p {
      margin: 0 0 1em;
    }
  }
}

ul li {
  list-style: none;
  &:before {
    display: block;
    content: "\2013";
    float: left;
    margin-left: -1.2em;
    width: 1.2em;
    color: $cTextLight;
  }
}

dd + dt {
  margin-top: 1em;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  cursor: pointer;
  @include button-base;
}

input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"] {
  @include input-text;
}

.hidden {
  display: none;
}

@import "jquery.ui.all";

.payload {
  padding: 10px 10px 30px;
  margin: 0 auto;
  max-width: 1200px;
  border-top: 1px solid white;
  border-bottom: 1px solid $cBorderLight;
  @include pie-clearfix;
}

.payload.front {
  padding-top: 30px;
  background: url(../images/front.jpg) no-repeat right top;
}

.front h1 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-size: 9em;
  line-height: 1em;
  letter-spacing: .05em;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  text-align: center;
}

@include props;
@include cp-dl;
@include cp-fig;
@include cp-sections;

.data {
  @include datalist;
}

.hd {
  &.floating {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    box-shadow: 0 0px 0px rgba(0,0,0,.2);
    background: $cBackground url(../images/body.png);
  }
  nav {
    @include navlist;
  }
}

.tooltip {
  @include tooltip;
}

.pagination {
  @include pagination;
}

.amp {
  font-style: italic;
  font-family: $serif;
}

.nt {
  font-style: italic;
  font-size: (12em/$sFontBase);
  text-align: right;
  margin-top: -1em;
}



.protocol_s {
  vertical-align: text-bottom;
  line-height: 0;
}


.ui-menu-item {
  &:before {
    display: none;
  }
}


.stringsearch {
  clear: left;
  label {
    float: left;
    width: 100px;
  }
}

.query-add {
  min-height: 20px;
  padding-left: 0;

  li {
    clear: right;
    padding: 5px 3px 3px;
    border-bottom: 1px solid $cBorder;
    &:before {
      display: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  button {
    float: right;
    width: 1.4em;
    .ui-button-text {
      line-height: .4;
    }
  }

  .value {
    cursor: pointer;
    font-weight: bold;
    color: $cTextBold;
  }

  .y {
    color: $cTextYes;
    &:before {
      content: "\2714\00A0";
    }
  }

  .n {
    color: $cTextNo;
    &:before {
      content: "\2718\00A0";
    }
  }

}

.ui-dialog .query-choose {
  padding: 5px 0 0 5px;
  margin: 0;
  li {
    list-style: none;
    x-margin: 0 5px 5px 0;
    x-float: left;
    x-width: 200px;
    display: inline;
    &:before {
      display: none;
    }
    a {
      display: inline-block;
      margin: 0 6px 6px 0;
    }
  }
}




#footer_search {
  position: absolute;
  z-index: 50;
  color: $cTextBold;
  background: $cBackground;
  @include background(linear-gradient(top, $cBackground, $cBackBright));
  padding: 10px;
  border: 1px solid $cBorderMedium;
  border-top-width: 0;
  @include border-bottom-radius(2px);
  max-width: 308px;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

#footer_search label {
  display: none;
}

#footer_search p {
  margin: 5px 0 0;
  text-align: right;
}

#footer_search a {
  color: $cTextBold;
  border-bottom: 1px solid;
  border-bottom-color: transparentize($cTextBold, .6);
  text-shadow: none;
  &:before {
    color: black;
    content: "» ";
  }
  &:focus,
  &:hover {
    color: $cText;
    border-bottom-color: $cTextBold;
  }
}

#footer_search form p {
  display: inline;
  margin: 0;
}

#footer_search input {
  max-width: 308px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid $cBorderMedium;
  border-radius: 3px;
  @include background(linear-gradient(top, rgba(0,0,0,.1),
  rgba(0,0,0,0)));
  background-color: white;
}

#footer_search button {
  font-size: (12em/$sFontBase);
}





.front {
  .searchform {
    text-align: center;
    margin: 0 0 30px;

    p {
      margin: 0;
    }

    input {
      vertical-align: middle;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid $cBorderMedium;
      border-radius: 3px;
      background-color: white;
      font-size: (21em/$sFontBase);
      width: 61.8%;
      padding: 4px 8px;
    }

    button {
      font-size: (21em/$sFontBase);
    }
  }
  figure a {
    &:hover, &:focus {
      border: none;
    }
  }
}

.bk {
  p {
    margin: 0 0 1em;
  }
}


.action {

  .desc,
  .button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    font-size: (36em/$sFontBase);
    font-family: $sans;
    white-space: nowrap;
  }

  .desc {
    display: none;
    color: $cTextBold;
    text-align: right;
    padding-right: 1em;
    padding-top: 10px;
    line-height: 30px;

    small {
      display: block;
      margin-top: 5px;
      font-weight: normal;
      font-style: italic;
      font-size: 33%;
      line-height: 1.5;
      white-space: normal;
    }
  }

  .button {
    line-height: 100px;
  }

  .browse {
    background-image: url(../images/action_map.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
  }

  .find {
    background-image: url(../images/action_dowsing.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
  }

  .expert {
    background-image: url(../images/action_find.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

}





.wizard {

  button {
    width: 100%;
    padding: 10px;
    text-align: left;
  }

  .number {
    p {
      @include pie-clearfix;
    }
    [type="number"] {
      width: 20%;
      float: left;
    }
    .ui-slider {
      width: 75%;
      margin-right: 12px;
      float: right;
      top: 6px;
    }
  }

  .text {
    [type="text"] {
      margin-bottom: 1em;
      width: 100%;
    }
  }

}

.wizcount {
  padding: 0;
  @include pie-clearfix;
  &:before {
    display: inline-block;
    border: 16px solid transparent;
    border-left-color: $cBorderLight;
    border-right-width: 0;
    content: " ";
    width: 0;
    height: 0;
    margin-right: 3px;
    float: left;
  }

  li {
    float: left;
    position: relative;
    list-style: none;
    @include button-base;
    cursor: pointer;
    margin: 0;
    padding: 3px 6px;

    small {
      display: none;
    }
  }
}



.ft {
  border-top: 1px solid white;
  background: -moz-linear-gradient(top, $cBorderLight, rgba(255,255,255,0) 20px);
  padding: 30px 10px;
  font-size: (12em/$sFontBase);
  color: $cTextBold;
  nav {
    @include pie-clearfix;
    max-width: 1200px;
    margin: 0 auto;
    ul {
      margin: 0;
      padding: 0;
      float: right;
    }
    li {
      display: inline;
      padding-left: 1em;
      &:before {
        content: none;
      }
    }
  }
  .tx {
    float: left;
    color: $cTextLight;
    font-style: italic;
    margin: 0;
  }
  a:after {
    content: none;
  }
}



.glossary {
  dt {
    font-style: italic;
    &:after {
      content: ":";
    }
  }
}




.gl {
  .after {
    line-height: 12px;
    position: relative;
    top: -7px;
    font-size: .75em;
    color: $cTextBright;
    border-radius: 100%;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 3px;
    text-align: center;
    cursor: help;
    font-style: normal;
    text-shadow: none;
    box-shadow: 0 -1px rgba(0,0,0,.25),
                0 1px rgba(255,255,255,.75);
  }
}

.glos {
  max-width: 200px;
  background: rgba(0,0,0,.86);
  a {
    color: $cLinkBright;
    &:after {
      content: none;
    }
    &:hover, &:focus {
      text-shadow: none;
    }
  }
  i {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    border: none;
  }
}

.quicknav {
  text-align: center;
  background: $cBackground url(../images/body.png);
  padding: 0;
  &.floating {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid white;
    box-shadow: 0 1px 4px rgba(0,0,0,.25);
    margin: 0;
  }
  li {
    &:before {
      content: none;
    }
    display: inline;
    a {
      display: inline-block;
      text-align: center;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      padding-bottom: 1px;
      &:hover, &:focus {
        padding-bottom: 0;
        background: white;
      }
    }
  }
}

@media (min-height: 500px) {
  .quicknav {
    &.floating {
      top: 90px;
    }
  }
}



@media (max-width: 640px) {
  @import "small-screen";
}

@media (min-width: 641px) {
  @import "medium-screen";
}

@media (min-width: 1230px) {
  @import "large-screen";
}
