:root {
  font: normal 16px/1.333 var(--font-family);
  font-feature-settings: "kern" on;
  text-rendering: optimizeLegibility;
  scrollbar-gutter: stable;
}
@media (--gt-mobile) {
  :root {
    scroll-padding-top: 100px;
  }
}

body {
  background: var(--color-back);
  color: var(--color-text);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scrollbar-gutter: stable;
}

a {
  color: var(--color-link);
  transition: color .3s;
}

a:focus, a:hover {
  color: var(--color-link-hover);
}

svg {
  fill: currentColor;
  overflow: visible; /* TODO quick fix for glyphs getting cut off */
}

th, td {
  padding: .2em .5em;
}

th {
  font-weight: 600;
}

th[scope="row"] {
  text-align: right;
}

blockquote {
  font-style: italic;
}

blockquote em,
blockquote i {
  font-style: normal;
}

/* font sizes and typographic adaptions */

.h1,
h1 {
  font-size: calc(1rem * var(--font-mod) * var(--font-mod) * var(--font-mod) * var(--font-mod) * var(--font-mod));
  font-weight: normal;
  font-variation-settings: "opsz" 35;
}

.h2,
h2 {
  font-size: calc(1rem * var(--font-mod) * var(--font-mod) * var(--font-mod) * var(--font-mod));
  font-weight: normal;
}

.h3,
h3 {
  font-size: calc(1rem * var(--font-mod) * var(--font-mod) * var(--font-mod));
  font-weight: normal;
}

.h4,
h4 {
  font-size: calc(1rem * var(--font-mod) * var(--font-mod));
}

.text_big,
.h5,
h5 {
  font-size: calc(1rem * var(--font-mod));
}

.tiles .missing-cp,
.tiles .cp:before,
.tiles .pl .meta,
.tiles .bl .meta,
.page-footer,
small, .text_small, figcaption {
  font-size: calc(1rem / var(--font-mod));
  font-family: var(--font-family-alternate);
}

dd + dt {
  margin-top: 1em;
}
