.sqfig {
  float: left;
  float: inline-start;
  margin: 1em 1em 1em 0;
  padding: 0;
  border-radius: 21px;
  background: #0000000a;
  box-shadow: 10px 10px 20px hsla(var(--hsl-shadow), .20),
              -10px -10px 20px var(--color-input-back);
}

.sqfig > svg {
  display: block;
}

.sqfig figcaption {
  padding: .25em;
  text-align: center;
}

.cpfig__img--So {
  /* prevent emoji images from showing overflown content. That's because noto
   * emoji contains off-canvas stuff. */
  overflow: hidden;
}

p .bl .meta,
p .pl .meta {
  display: none;
}

.props {
  margin-left: auto;
  margin-right: auto;
}

.props .x {
  color: var(--color-neutral);
}

.props .y {
  color: var(--color-success);
}

.props .n {
  color: var(--color-danger);
}
