.sqfig {
  float: left;
  float: inline-start;
  margin: 0 1em 1em 0;
  border: 1px solid var(--color-neutral);
  padding: .25em;
}

.sqfig figcaption {
  padding-top: .25em;
}

.cpfig__img--So {
  /* prevent emoji images from showing overflown content. That's because noto
   * emoji contains off-canvas stuff. */
  overflow: hidden;
}

p .bl .meta,
p .pl .meta {
  display: none;
}

.props .x {
  color: var(--color-neutral);
}

.props .y {
  color: var(--color-success);
}

.props .n {
  color: var(--color-danger);
}
