cp-menu {
  a {
    color: var(--color-link);
    transition: color .3s;
  }

  a:focus, a:hover {
    color: var(--color-link-hover);
  }

  h2 {
    margin: 0;
    font-size: 1.5em;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
  }
  nav > * {
    min-width: 8rem;
    text-align: center;
  }
  nav svg {
    height: 3rem;
    width: 3rem;
    display: block;
    fill: currentColor;
    fill-opacity: .5;
    margin: 0 auto .5rem;
    transition: fill-opacity .3s;
  }
  nav >*:focus svg,
  nav >*:hover svg {
    fill-opacity: 1;
  }
  cp-dialog > * + * {
    margin-top: 2rem;
  }

  .card {
    min-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    gap: .75em;
  }
  section > * {
    flex-grow: 1;
    flex-basis: 40%;
  }
  section > h2 {
    flex-grow: 0;
    flex-basis: 100%;
  }
  @media (max-width: 999px) {
    section {
      flex-direction: column;
    }
    section > * {
      flex-basis: 100%;
    }
  }
}
