.cp, .bl, .pl {
  text-decoration: none;
}

.cp > svg,
.bl > svg,
.pl > svg {
  transition: transform .3s, color .3s;
}

.cp:focus > svg,
.cp:hover > svg,
.bl:focus > svg,
.bl:hover > svg,
.pl:focus > svg,
.pl:hover > svg {
  transform: scale(1.33);
}

.tiles {
  clear: left; /* prevent possible collision with figures */
  clear: inline-start;
  list-style: none;
  padding-inline-start: 0;
  margin: 0 -.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 8em);
  grid-gap: .25em;
  justify-content: center;
}

.tiles > li {
  width: 8em;
  display: flex;
}

.tiles > li > * {
  display: block;
  width: 100%;
  padding: .25em;
  box-sizing: border-box;
  box-shadow: 0 3px 6px var(--color-shadow);
}

.tiles .missing-cp {
  text-align: center;
  opacity: .667;
}

.tiles .cp, .tiles .bl, .tiles .pl {
  color: inherit;
}

.tiles .cp:before {
  content: attr(data-cp);
  text-decoration: none;
  display: block;
  text-align: center;
  position: relative; /* place in front of the SVG, while the tile is not focused */
  text-shadow: 1px 1px var(--color-back);
}

.tiles .pl > svg,
.tiles .bl > svg,
.tiles .cp > svg {
  width: 85%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}
.tiles .pl:hover > svg,
.tiles .pl:focus > svg,
.tiles .bl:hover > svg,
.tiles .bl:focus > svg,
.tiles .cp:hover > svg,
.tiles .cp:focus > svg {
  color: var(--color-link-hover);
}

.tiles .pl .title,
.tiles .bl .title,
.tiles .cp .title {
  hyphens: auto;
  font-size: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.tiles .pl .meta,
.tiles .bl .meta {
  text-decoration: none;
  white-space: nowrap;
}
