.ln {
  text-decoration: none;
}

.ln .meta {
  text-decoration: none;
  white-space: nowrap;
  opacity: .75;
}

.ln > svg {
  transition-property: transform, color;
  transition-duration: .3s;
  transition-timing-function: var(--ease-in-out-quint);
  vertical-align: top;
  margin-top: 2px;
}

.ln[data-sensitivity="3"] > svg > use {
  opacity: .3;
}

.ln:not([data-sensitivity="3"]):focus > svg,
.ln:not([data-sensitivity="3"]):hover > svg {
  transform: scale(1.33);
}

.tiles {
  clear: inline-start; /* prevent possible collision with figures */
  list-style: none;
  padding-inline-start: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
}

.tiles > li {
  width: 8em;
  display: flex;
}

.tiles > li > * {
  display: flex;
  flex-direction: column;
  gap: .75em;
  padding: .75em .25em .75em;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.tiles .missing-cp {
  text-align: center;
  opacity: .667;
}

.tiles .ln {
  color: inherit;
}

.tiles .cp:before {
  content: attr(data-cp);
  text-decoration: none;
  display: block;
  text-align: center;
  position: relative; /* place in front of the SVG, while the tile is not focused */
  text-shadow: 1px 1px var(--color-back);
}

.tiles .ln > svg {
  width: 65%;
  height: auto;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.tiles .ln:hover > svg,
.tiles .ln:focus > svg {
  color: var(--color-link-hover);
}

.tiles .ln .title {
  hyphens: auto;
  font-size: 90%;
  flex-grow: 1;
}

.container--confusables {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.tiles--confusables {
  display: flex;
  flex-wrap: wrap;
}

.tiles--confusables:before {
  content: "";
  border: 3px solid var(--color-input-bord);
  border-right-width: 0;
  width: 6px;
  display: block;
}

.tiles--confusables:after {
  content: "";
  border: 3px solid var(--color-input-bord);
  border-left-width: 0;
  width: 6px;
  display: block;
}
