.page-footer {
  margin-top: 1rem;
  padding: 1rem;
  border-top: 1px solid var(--color-border-light);
}

.page-footer > * {
  max-width: 65rem;
  margin: 0 auto;
}

.page-footer > * + * {
  margin-top: 1rem;
}

.page-footer ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 2rem;
}

.page-footer ul a {
  display: block;
  padding: .5em;
  margin: -.5rem;
}

.page-footer a svg {
  vertical-align: middle;
}
