button, input, select, textarea {
  font-family: var(--font-family-alternate);
}

input, select, textarea {
  border: 1px solid var(--color-input-bord);
  border-radius: 2px;
  background: var(--color-input-back);
  color: var(--color-input-text);
}
