.page-header {
  margin-bottom: 1em;
}

.page-header nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.page-header nav a {
  display: block;
  padding: .5em 1em;
}

.main-nav a svg {
  vertical-align: middle;
}
