[data-barba="container"] {
  display: flex;
  flex-direction: column;
}

/**
 * on mobile devices move navigation to bottom
 */
@media (--lte-mobile) {
  [data-barba="container"] > cp-navigation {
    order: 3;
  }
}

cp-navigation {
  position: sticky;
  z-index: 1;
  background: var(--color-back);
  font-family: var(--font-family-alternate);
  font-size: calc( 1em / var(--font-mod) );
  display: flex;
  gap: .5em;
}
cp-navigation > * {
  width: 25%;
  flex-grow: 1;
}
@media (--lte-mobile) {
  cp-navigation {
    bottom: 0;
  }
}
@media (--gt-mobile) {
  cp-navigation {
    top: 0;
  }
}

cp-navigation .meta {
  display: none;
}

cp-navigation .title {
  display: block;
  max-height: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl; /* cf. https://davidwalsh.name/css-ellipsis-left a hack to show the ellipsis on the beginning of the string. We do this to prevent unhelpful runs of "LATIN CAPITAL LETT...". */
}

cp-navigation a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

cp-navigation .ln svg {
  display: block;
  width: 80%;
  height: 80%;
  max-width: 64px;
  max-height: 64px;
  margin: 1em auto 0;
}

.main {
  padding: 0 1em;
  flex-grow: 1;
}

.main > :not(.tiles, .sqfig, .full-width) {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.main--index {
  background: url(../images/front_light.webp) no-repeat center top;
  background-size: contain;
}
:root.force-dark .main--index {
  background-image: url(../images/front_dark.webp);
}
@media (prefers-color-scheme: dark) {
  :root:not(.force-light) .main--index {
    background-image: url(../images/front_dark.webp);
  }
}

.main--index > * {
  background: hsla(var(--hsl-backlight), .3);
  box-shadow: 0 0 10px 10px hsla(var(--hsl-backlight), .3);
}

.main--index blockquote {
  text-align: center;
}

.glossary__quicknav {
  list-style: none;
  padding: .5em;
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--color-back);
}
@media (--gt-mobile) {
  .glossary__quicknav {
    top: 93px;
  }
}

#glossary,
#glossary dt {
  scroll-margin-top: 2.333em;
}

@media (max-width: 65rem) {
  #glossary,
  #glossary dt {
    scroll-margin-top: 4.667em;
  }
}

.transition-active {
  position: relative;
}

.transition-active > * {
  position: absolute;
  width: 100%;
  top: 0;
}
