[data-barba="container"] {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 0 1em;
  flex-grow: 1;
}

.main > :not(.tiles, .sqfig, .full-width) {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.main--index {
  background: url(../images/front_light.webp) no-repeat center top;
  background-size: contain;
}
:root.force-dark .main--index {
  background-image: url(../images/front_dark.webp);
}
@media (prefers-color-scheme: dark) {
  :root:not(.force-light) .main--index {
    background-image: url(../images/front_dark.webp);
  }
}

.main--index > :not(h1) {
  background: hsla(var(--hsl-backlight), .3);
  box-shadow: 0 0 10px 10px hsla(var(--hsl-backlight), .3);
}

.main--index blockquote {
  text-align: center;
}

.glossary__quicknav {
  list-style: none;
  padding: .5em;
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--color-back);
}
@media (--gt-mobile) {
  .glossary__quicknav {
    top: 93px;
  }
}

#glossary,
#glossary dt {
  scroll-margin-top: 2.333em;
}

@media (max-width: 65rem) {
  #glossary,
  #glossary dt {
    scroll-margin-top: 4.667em;
  }
}

.transition-active {
  position: relative;
}

.transition-active > * {
  position: absolute;
  width: 100%;
  top: 0;
}
