[data-barba="container"] {
  display: flex;
  flex-direction: column;
}
@media (--lte-mobile) {
  [data-barba="container"] > cp-navigation {
    order: 3;
  }
}

cp-navigation .title {
  display: none;
}

cp-navigation a {
  display: flex;
  flex-direction: column;
  text-align: center;
}

cp-navigation .meta {
  order: 3;
}

cp-navigation .ln svg {
  display: block;
  width: 80%;
  height: 80%;
  max-width: 64px;
  max-height: 64px;
  margin: 1em auto 0;
}

.main {
  padding: 0 1em;
  flex-grow: 1;
}

.main > :not(.tiles, .sqfig, .full-width) {
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

.main--index {
  background: url(../images/front_light.webp) no-repeat center top;
  background-size: contain;
}
:root.force-dark .main--index {
  background-image: url(../images/front_dark.webp);
}
@media (prefers-color-scheme: dark) {
  :root:not(.force-light) .main--index {
    background-image: url(../images/front_dark.webp);
  }
}

.main--index blockquote {
  text-align: center;
}

.glossary__quicknav {
  list-style: none;
  padding: .5em;
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--color-back);
}

#glossary,
#glossary dt {
  scroll-margin-top: 2.333em;
}

@media (max-width: 65rem) {
  #glossary,
  #glossary dt {
    scroll-margin-top: 4.667em;
  }
}

.transition-active {
  position: relative;
}

.transition-active > * {
  position: absolute;
  width: 100%;
  top: 0;
}
