@import "_font.css";
@import "_base.css";
@import "_crosslinks.css";
@import "_forms.css";
@import "_codepoints.css";
@import "_pagination.css";
@import "_header.css";
@import "_footer.css";
@import "_main-content.css";

:root {
  --font-mod: 1.25;
  --font-family: Literata, Noto Serif, Droid Serif, Georgia, Times New Roman, Times, serif;
  --font-family-alternate: Noto Sans, Droid Sans, Verdana, sans-serif;

  --color-danger: #901;
  --color-success: #190;
  --color-neutral: #0007;

  --color-input-text: #403c37;
  --color-input-back: #ffffff;
  --color-input-bord: #bbbbbb;

  --color-back-bright: #ffffff;
  --color-back-dim: #eeeeee;
  --color-back-dark: #aaaaaa;

  --color-border: #dddddd;
  --color-border-light: #eeeeee;
  --color-border-medium: #bbbbbb;
  --color-border-dark: #333333;

  /* https://coolors.co/1b171c-ebf1e9-7f0a1e-670415-480410-17181c-f1f0e9-0a7f6c-046757-04483c */
  --raisin-black: hsl(290, 10%, 10%);
  --mint-cream: hsl(40, 37%, 99%);
  --burgundy: hsl(350, 85%, 52%);
  --rosewood: hsl(350, 93%, 36%);
  --dark-sienna: hsl(350, 89%, 15%);
  --eerie-black: hsl(230, 10%, 10%);
  --alabaster: hsl(50, 22%, 93%);
  --generic-viridian: hsl(170, 85%, 47%);
  --bottle-green: hsl(170, 93%, 31%);
  --blue-green-color-wheel: hsl(170, 89%, 15%);

  --color-text: var(--raisin-black);
  --color-back: var(--mint-cream);
  --color-link: var(--rosewood);
  --color-link-hover: var(--burgundy);
  --color-hilite: var(--generic-viridian);

  --hsl-shadow: 40, 20%, 10%;
}

:root.force-dark {
  --color-danger: #b02;
  --color-success: #2b0;
  --color-neutral: #fff8;

  --color-input-text: #e8edf2;
  --color-input-back: #242424;
  --color-input-bord: #777777;

  --color-text: var(--alabaster);
  --color-back: var(--eerie-black);
  --color-link: var(--bottle-green);
  --color-link-hover: var(--generic-viridian);
  --color-hilite: var(--burgundy);

  --hsl-shadow: 230, 10%, 95%;
}

@media (prefers-color-scheme: dark) {
  :root:not(.force-light) {
    --color-danger: #b02;
    --color-success: #2b0;
    --color-neutral: #fff8;

    --color-input-text: #e8edf2;
    --color-input-back: #242424;
    --color-input-bord: #777777;

    --color-text: var(--alabaster);
    --color-back: var(--eerie-black);
    --color-link: var(--bottle-green);
    --color-link-hover: var(--generic-viridian);
    --color-hilite: var(--burgundy);

    --color-shadow: #fff3;
  }
}

.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(aria-description);
  position: absolute;
  font-weight: normal;
  padding: .25rem;
  background: #000a;
  color: white;
  top: 3rem;
  display: none;
  left: 0;
  min-width: 200px;
}

.tooltip--se:before,
.tooltip--ne:before {
  left: auto;
  right: 0;
}

.tooltip--nw:before,
.tooltip--ne:before {
  top: auto;
  bottom: 3.4rem;
}

.tooltip:hover:before,
.tooltip:focus:before {
  display: block;
}
