cp-navigation,
.cp-toolbox--tools,
.page-footer a,
.page-footer nav {
  display: none;
}

body {
  display: block;
}

.tiles li {
  break-inside: avoid;
}

a[href^="http"]:after {
  content: ' (' attr(href) ')';
}
