AddOutputFilterByType DEFLATE text/css text/javascript application/json

AddType font/woff2 .woff2
AddType image/avif .avif
AddType image/webp .webp

FileETag MTime Size
AddDefaultCharset utf-8
AddEncoding x-gzip .svgz

ExpiresActive On
ExpiresDefault "access plus 1 hour"
ExpiresByType text/css "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType application/json "access plus 1 day"
ExpiresByType image/avif "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/svg+xml "access plus 1 month"
ExpiresByType image/vnd.microsoft.icon "access plus 1 month"
ExpiresByType image/webp "access plus 1 month"
ExpiresByType font/woff2 "access plus 1 year"
